/* Start Variables */

:root {
    --main-color: #17a2b8;
    --sec-color: #00394f;
    --parg-color: #666666;
    --trans-dur: 0.15s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

.title h4.one {
    color: var(--main-color, #17a2b8);
    font-weight: 500;
    font-size: 16px;
    position: relative;
}

.title h4.one::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--main-color, #17a2b8);
    width: 50px;
    height: 2px;
    left: 145px;
}

.title h1 {
    font-size: 38px;
    color: var(--sec-color, #00394f);
    font-weight: 600;
    margin: 15px 0;
    font-family: 'Handlee', cursive;
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 30px;
    }
}

a.button {
    background-color: var(--main-color, #17a2b8);
    color: white;
    display: block;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: var(--trans-dur, 0.15s);
    -webkit-transition: var(--trans-dur, 0.15s);
    -moz-transition: var(--trans-dur, 0.15s);
    -ms-transition: var(--trans-dur, 0.15s);
    -o-transition: var(--trans-dur, 0.15s);
}

a.button:hover {
    background-color: #138496;
}

/* End Component */

/* Start Header */

header {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

@media (max-width: 991px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container .logo img {
    width: 50px;
    margin-right: 20px;
}

header .container .logo span {
    font-size: 50px;
    color: var(--main-color, #17a2b8);
    font-weight: bold;
}

@media (max-width: 991px) {
    header .container nav {
        display: none;
    }

}

header .container nav ul {
    display: flex;
    align-items: center;
}

header .container nav ul li a,
header .container nav ul li>div {
    display: block;
    padding: 25px 10px;
    text-transform: capitalize;
    color: var(--sec-color, #00394f);
    font-weight: bold;
}

header .container nav ul li a:hover,
header .container nav ul li>div:hover {
    color: var(--main-color, #17a2b8);
}

header .container nav ul li a.active {
    color: var(--main-color, #17a2b8);
}

header .container nav ul li div.min {
    cursor: pointer;
    position: relative;
}

header .container nav ul li div.min::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

header .container nav ul li div.min div {
    display: none;
    position: absolute;
    top: 70px;
    left: -10px;
    background-color: white;
    width: 130px;
}

header .container nav ul li div.min:hover div {
    display: block;
}


header .container nav ul li div.min div a {
    display: block;
    width: 100%;
    padding: 12px 20px;
    color: black;
}

header .container nav ul li div.min div a:hover {
    background-color: #f8f9fa;
    color: black;
}

header .container nav ul li:last-of-type a {
    background-color: var(--main-color, #17a2b8);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 15px 10px;
    color: white;
    transition: var(--trans-dur, .15s);
    -webkit-transition: var(--trans-dur, .15s);
    -moz-transition: var(--trans-dur, .15s);
    -ms-transition: var(--trans-dur, .15s);
    -o-transition: var(--trans-dur, .15s);
}

header .container nav ul li:last-of-type a:hover {
    background-color: #138496;
}

header .container .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #dfe0e1;
    padding: 14px 10px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media (max-width: 991px) {
    header .container .menu {
        display: flex;
    }
}

header .container .menu span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #7c7c7d;
    margin-bottom: 5px;
}

/* End Header */

/* Start Landing */

.landing {
    min-height: calc(100vh - 70px);
    background-color: var(--main-color, #17a2b8);
    padding-top: 75px;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
    }
}

.landing .container .text {
    color: white;
    width: 79%;
}

@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
        margin-bottom: 30px;
    }
}

.landing .container .text h4 {
    font-size: 24px;
    font-family: 'Handlee', cursive;
}

.landing .container .text h1 {
    font-size: 68px;
    font-family: 'Handlee', cursive;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .landing .container .text h1 {
        font-size: 53px;
    }
}

@media (max-width: 576px) {
    .landing .container .text h1 {
        font-size: 40px;
    }
}

.landing .container .text p {
    line-height: 1.7;
    margin-bottom: 20px;
}

.landing .container .text a {
    display: block;
    color: white;
    text-transform: capitalize;
    background-color: var(--sec-color, #00394f);
    width: fit-content;
    padding: 20px 50px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: var(--trans-dur, .15s);
    -webkit-transition: var(--trans-dur, .15s);
    -moz-transition: var(--trans-dur, .15s);
    -ms-transition: var(--trans-dur, .15s);
    -o-transition: var(--trans-dur, .15s);
}

@media (max-width: 991px) {
    .landing .container .text a {
        margin: 0 auto;
    }
}

.landing .container .text a:hover {
    background-color: #001d29;
}

.landing .container .image img {
    max-width: 100%;
}

/* End Landing */

/* Start Facilities */

.facilities {
    padding-top: 50px;
    padding-bottom: 50px;
}

.facilities .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .facilities .container {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .facilities .container {
        width: 100%;
    }
}

.facilities .container .ob {
    flex-basis: calc((100% / 3) - 30px);
    display: flex;
    margin-bottom: 40px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 30px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 991px) {
    .facilities .container .ob {
        flex-basis: calc((100% / 2) - 30px);
    }
}

@media (max-width: 768px) {
    .facilities .container .ob {
        flex-basis: 100%;
    }
}

.facilities .container .ob .image {
    margin-right: 10px;
}

.facilities .container .ob .image img {
    width: 40px;
}

.facilities .container .ob .text h4 {
    color: var(--sec-color, #00394f);
    font-size: 24px;
    font-family: 'Handlee', cursive;
    margin-bottom: 10px;
    line-height: 1.7;
}

.facilities .container .ob .text p {
    color: var(--parg-color, #666666);
}

/* End Facilities */

/* Start About Us */

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .about .container {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .about .container .image {
        text-align: center;
    }
}

.about .container .image img {
    max-width: 90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about .container .text {
    width: 60%;
    padding: 30px 0;
}

@media (max-width: 991px) {
    .about .container .text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about .container .text {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .about .container .text {
        width: 100%;
    }
}

.about .container .text p {
    color: var(--parg-color, #666666);
    line-height: 1.5;
    margin-bottom: 20px;
}

.about .container .text .comp {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.about .container .text .comp img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 156px;
    margin-right: 20px;
}

.about .container .text .comp ul li {
    padding: 10px 35px;
    border-bottom: 1px solid #dee2e6;
    position: relative;
}

.about .container .text .comp ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 5px;
    color: var(--main-color, #17a2b8);
}

.about .container .text .comp ul li:first-of-type {
    border-top: 1px solid #dee2e6;
}

/* End About Us */